body{
    margin: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-img{
    width: 150px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
    width: 400px;
    margin: 0 auto;

    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
    border-radius: 10px;
    text-align: center;
}
